nameserver 10.10.10.10
nameserver 10.10.10.11
{% if (BACKUP_RESOLVERS is defined) and (BACKUP_RESOLVERS|length > 0) %}
{% set backups = BACKUP_RESOLVERS.split(' ') %}
{% for b in backups %}
nameserver {{ b }}
{% endfor %}
{% endif %}
