name: ansible-lint
permissions: read-all
on:
  pull_request:
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@a2bc8b8b13a80802215856c56823d85007d3baf5 # v25
        with:
          args: ""
          setup_python: "true"
          working_directory: "./roles/"
          requirements_file: ""
