name: Checkov

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions: read-all

jobs:
  checkov-job:
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: none
    runs-on: ubuntu-latest
    name: checkov-action
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4

      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@8f61ce5b8a3afb4ca94d236b75201878ded6d2cd
        with:
          skip_check: CKV_DOCKER_2,CKV_DOCKER_3,CKV_SECRET_6,CKV2_ANSIBLE_3
          quiet: true
          output_format: cli,sarif
          output_file_path: console,results.sarif
          download_external_modules: true
          skip_path: infra/helm/meshdb/charts

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@19b2f06db2b6f5108140aeb04014ef02b648f789 # v3
        if: success() || failure()
        with:
          sarif_file: results.sarif
